<!--prettier-ignore-->
{% extends "base.html" %} {% block title %}Opportunity Tracker {%endblock title%} {% block content %}
{% load tz %}
{% load static %}
{% load l10n %}

<script src="{% static 'js/charts/bar.js' %}"></script>
<script src="{% static 'js/charts/pie.js' %}"></script>

<div class="p-3">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <h1 id="totalOpportunities" class="display-1">0</h1>
        <span class="text-muted">Total Opportunities Captured in {% now "Y" %}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <h1 id="totalWonProposalAmount" class="display-1">0</h1>
        <span class="text-muted">Total Won Amount in {% now "Y" %}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <h1 id="totalSubmittedProposalAmount" class="display-1">0</h1>
        <span class="text-muted">Total Submitted Amount in {% now "Y" %}</span>
      </div>
    </div>
    {% comment %} <div class="col-md-3">
      <div class="shadow-lg p-3 mb-4 bg-body rounded"></div>
    </div> {% endcomment %}
  </div>


  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Card with shadow to display the chart -->
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        {% comment %}
        <div class="chart-title mb-4">
          <h4>Proposal Status Overview for {% now "Y" %}</h4>
        </div>
        {% endcomment %}
        <canvas id="proposalStatusChart"></canvas>
      </div>
    </div>

    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <canvas id="fundingAgencyChart"></canvas>
      </div>
    </div>
    <div />
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="shadow-lg p-3 mb-4 bg-body rounded">
          <canvas id="leadUnitChart"></canvas>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shadow-lg p-3 mb-4 bg-body rounded">
          <canvas id="leadInstituteChart"></canvas>
        </div>
      </div>
      <div class="col-md-4">
        <div class="shadow-lg p-3 mb-4 bg-body rounded">
          <canvas id="proposalLeadChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <canvas id="top5ValuedWon"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <canvas id="top5ValuedSubmitted"></canvas>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <canvas id="top5DurationWon"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div class="shadow-lg p-3 mb-4 bg-body rounded">
        <canvas id="top5DurationSubmitted"></canvas>
      </div>
    </div>
  </div>
</div>
{% endblock content %} {% block scripts %}
<script src="{% static "js/chroma.min.js" %}"></script>
<script src="{% static "js/chartjs-plugin-datalabels.js" %}"></script>
<script>
  // Generate the random colors
   var randomPalette = generateRandomPalette();

   // Apply 0.25 opacity to the random palette
   var opaqueRandomPalette = applyOpacityToPalette(randomPalette, 0.25);

   function loadChart(chart, endpoint, title) {
     $.ajax({
       url: endpoint,
       type: "GET",
       dataType: "json",
       success: (response) => {
        
        // Total Opportunities
        animateNumbers($("#totalOpportunities"), response.total_opportunities);
        animateNumbers($("#totalSubmittedProposalAmount"), response.total_submitted_proposal_amount);
        animateNumbers($("#totalWonProposalAmount"), response.total_won_proposal_amount);
        
        // Bar chart for status
        const status_datasets = response.status_data.map((item, index) => {
           return {
             label:item.label,
             data:item.data,
             backgroundColor: opaqueRandomPalette[index % opaqueRandomPalette.length],
             borderColor: randomPalette[index % randomPalette.length],
           }
         });
         var ctx = document
           .getElementById("proposalStatusChart")
           .getContext("2d");

         var titleText = "Opportunities by Type and Status ({% now "Y" %})"
         createBarChart(ctx, response.status_labels, status_datasets, titleText)

         // Bar chart for funding agency
         const fa_datasets = response.funding_agency_data.map((item, index) => {
           return {
             label:item.label,
             data:item.data,
             backgroundColor: opaqueRandomPalette[index % opaqueRandomPalette.length],
             borderColor: randomPalette[index % randomPalette.length],
           }
         });
         var ctx = document
           .getElementById("fundingAgencyChart")
           .getContext("2d");

         var titleText = "Opportunities by Funding Agency and Status ({% now "Y" %})"
         createBarChart(ctx, response.funding_agency_labels, fa_datasets, titleText)

         // Doughnut Lead Unit
         var ctx = document
           .getElementById("leadUnitChart")
           .getContext("2d");

         var titleText = "Opportunities by Lead Unit ({% now "Y" %})"
         var datasetLabel = "Total Opportunities";
         createPieChart(ctx, response.lead_unit_labels, response.lead_unit_data, 'doughnut', titleText, datasetLabel, opaqueRandomPalette);

         // Doughnut Lead Unit
         var ctx = document
         .getElementById("leadInstituteChart")
         .getContext("2d");

         var titleText = "Opportunities by Lead Institute ({% now "Y" %})"
         var datasetLabel = "Total Opportunities";
         createPieChart(ctx, response.lead_institute_labels, response.lead_institute_data, 'doughnut', titleText, datasetLabel, opaqueRandomPalette);

         // Doughnut Proposal Lead
         var ctx = document
           .getElementById("proposalLeadChart")
           .getContext("2d");

         var titleText = "Opportunities by Proposal Lead ({% now "Y" %})"
         var datasetLabel = "Total Opportunities";
         createPieChart(ctx, response.proposal_lead_labels, response.proposal_lead_data, 'doughnut', titleText, datasetLabel, opaqueRandomPalette);

         // Bar chart for top 5 won valued funding agencies
         var ctx = document
         .getElementById("top5ValuedWon")
         .getContext("2d");

         var titleText = "Top 5 Valued Won Opportunities by Funding Agency ({% now "Y" %})";
         var datasetLabel = "Top 5 Valued Won Opportunities";
         createSimpleVerticalBarChart(ctx, response.top5_won_valued_labels, response.top5_won_valued_data, titleText, datasetLabel, "", "", opaqueRandomPalette, randomPalette);


       // Bar chart for top 5 current valued funding agencies
         var ctx = document
         .getElementById("top5ValuedSubmitted")
         .getContext("2d");

         var titleText = "Top 5 Valued Awaiting Opportunities by Funding Agency ({% now "Y" %})";
         var datasetLabel = "Top 5 Valued Awaiting Opportunities";
         createSimpleVerticalBarChart(ctx, response.top5_valued_submitted_labels, response.top5_valued_submitted_data, titleText, datasetLabel, "", "", opaqueRandomPalette, randomPalette);

      // Bar chart for top 5 duration funding agencies
      var ctx = document
      .getElementById("top5DurationWon")
      .getContext("2d");

      var titleText = "Top 5 Long-term Won Opportunities by Funding Agency ({% now "Y" %})";
      var datasetLabel = "Top 5 Long-term Won Opportunities";
      createSimpleVerticalBarChart(ctx, response.top5_duration_won_labels, response.top5_duration_won_data, titleText, datasetLabel, "In Months", "", opaqueRandomPalette, randomPalette);

      // Bar chart for top 5 duration Submitted by funding agencies
      var ctx = document
      .getElementById("top5DurationSubmitted")
      .getContext("2d");

      var titleText = "Top 5 Long-term Awaiting Opportunities by Funding Agency ({% now "Y" %})";
      var datasetLabel = "Top 5 Long-term Awaiting Opportunities";
      createSimpleVerticalBarChart(ctx, response.top5_duration_submitted_labels, response.top5_duration_submitted_data, titleText, datasetLabel, "In Months", "", opaqueRandomPalette, randomPalette);


       },
       error: () =>
         console.log("Failed to fetch chart data from " + endpoint + "!"),
     });
   }

   function loadAllCharts() {
     loadChart(null, '{% url "dashboard_data" %}', "Opportunities by Status");
   }

   

   $(document).ready(function () {
     loadAllCharts();
   });
</script>
{% endblock scripts %}
