<!-- prettier-ignore -->
{% block content%} {% load form_tags %}
{% load file_filters %}
{% load l10n %}

<!-- General Information -->
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Opportunity Detail</h5>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
<div class="section">
  <div class="section-header">
    General Information
    <span class="badge bg-secondary float-end fs-6"
      >{{form.instance.get_status_display}}</span
    >
  </div>
  <div class="detail-item">
    <span class="detail-label">Reference No:</span>
    <span class="detail-value">{{form.ref_no.value}}</span>
  </div>
  <div class="detail-item">
    <span class="detail-label">Title:</span>
    <span class="detail-value">{{form.title.value}}</span>
  </div>
  <div class="detail-item">
    <span class="detail-label">Funding Agency:</span>
    <span class="detail-value">{{form.instance.funding_agency}}</span>
  </div>
  <div class="detail-item">
    <span class="detail-label">Client:</span>
    <span class="detail-value">{{form.instance.client}}</span>
  </div>
  <div class="detail-item">
    <span class="detail-label">Duration:</span>
    <span class="detail-value">{{form.instance.duration_months}} Months</span>
  </div>
  <div class="detail-item">
    <span class="detail-label">Countries:</span>
    <span class="detail-value">
      <!--prettier-ignore-->
      {% for country in form.instance.countries.all %} 
        {{country.name}} {% if not forloop.last %}, {% endif %}
      {% endfor %}
    </span>
  </div>
</div>

<!-- Timeline -->
<div class="section">
  <div class="section-header">Timeline</div>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="detail-item">
        <span class="detail-label">Due Date:</span>
        <span class="detail-value">{{form.due_date.value}}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Intent to Bid Date:</span>
        <span class="detail-value">{{form.intent_bid_date.value}}</span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-item">
        <span class="detail-label">Clarification Date:</span>
        <span class="detail-value">{{form.clarification_date.value}}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Submission Date:</span>
        <span class="detail-value">{{form.submission_date.value}}</span>
      </div>
    </div>
  </div>
</div>

<!-- Financial Details -->
<div class="section">
  <div class="section-header">Financial Details</div>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="detail-item">
        <span class="detail-label">Proposal Amount:</span>
        <span class="detail-value">
          {% if form.currency.value %}{{form.currency.value}}{% endif %}
          {{form.proposal_amount.value}}</span
        >
      </div>
    </div>
    
  </div>
</div>

<!-- Administrative Details -->
<div class="section">
  <div class="section-header">Administrative Details</div>
  <div class="row g-4">
    <div class="col-md-6">
      <div class="detail-item">
        <span class="detail-label">Created By:</span>
        <span class="detail-value"
          >{{form.instance.created_by.first_name}}
          {{form.instance.created_by.last_name}}</span
        >
      </div>

      <div class="detail-item">
        <span class="detail-label">Lead Unit:</span>
        <span class="detail-value">{{form.instance.lead_unit}}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Partners:</span>
        <span class="detail-value">
          <!--prettier-ignore-->
          {% for partner in form.instance.partners.all %} 
            {{partner.name}} {% if not forloop.last %}, {% endif %}
          {% endfor %}
        </span>
      </div>
    </div>
    <div class="col-md-6">
      <div class="detail-item">
        <span class="detail-label">Created At:</span>
        <span class="detail-value">{{form.instance.created_at}}</span>
      </div>
      <div class="detail-item">
        <span class="detail-label">Proposal Lead:</span>
        <span class="detail-value"
          >{{form.instance.proposal_lead.first_name}}
          {{form.instance.proposal_lead.last_name}}</span
        >
      </div>
      <div class="detail-item">
        <span class="detail-label">Lead Institute:</span>
        <span class="detail-value">{{form.instance.lead_institute}}</span>
      </div>
    </div>
  </div>
</div>

<!-- Notes -->
<div class="section">
  <div class="section-header">Additional Notes</div>
  <div class="detail-item">
    <span class="detail-label">Result Note:</span>
    <span class="detail-value">{{form.result_note.value}}</span>
  </div>
  <div class="detail-item">
    <span class="detail-label">Notes:</span>
    <span class="detail-value">{{form.notes.value}}</span>
  </div>
</div>

<!-- Attachments -->
<div class="section">
  <div class="section-header">
    Attachments
    {% if files %}
    <a href="{% url "download_folder" form.instance.id %}" class="btn btn-sm btn-outline-success float-end"
      ><i class="fas fa-cloud-download-alt"></i> Download All</a
    >
    {% endif %}
  </div>
  <div class="detail-item">
    {% if files %}
    <ul class="list-group list-unstyled">
      <div class="row row-cols-1 row-cols-xlg-2 g-3">
        {% for file in files %}
        <li class="col">
          <div class="border-bottom">
            <a
              href="{{ file.file.url }}"
              target="_blank"
              class="text-decoration-none text-dark"
            >
              {{ file.file.name|basename }}
            </a>
          </div>
        </li>
        {% endfor %}
      </div>
    </ul>
    {% else %}
    <p class="text-muted">No attachments available.</p>
    {% endif %}
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
    Close
  </button>
</div>
</div>
{% endblock content %}
