{% extends "core/base.html" %} {% block title %}Opportunities{% endblock title %}
{%block content %} {% load form_tags %} {% load static %}

<form
  hx-get="{% url 'opportunities' %}"
  hx-target="#opportunity-container"
  hx-include="this"
  id="filterForm"
  hx-trigger="every 1m"
>
  <div class="card">
    <div class="card-header">
      <h3>Opportunities</h3>
    </div>
    <div class="card-body">
      <div class="row g-3">
        <div class="form-floating col-md-4">
          {{form.ref_no|add_class:"form-control"}}
          <label for="ref_no" class="form-label">Ref#</label>
        </div>
        <div class="form-floating col-md-4">
          {{form.title|add_class:"form-control"}}
          <label for="title" class="form-label">Title</label>
        </div>
        <div class="form-floating col-md-4">
          {{form.funding_agency|add_class:"form-select"}}
          <label for="funding_agency" class="form-label">Funding Agency</label>
        </div>
        <div class="form-floating col-md-4">
          {{form.client|add_class:"form-select"}}
          <label for="client" class="form-label">Client</label>
        </div>
        <div class="form-floating col-md-4">
          {{form.status|add_class:"form-select"}}
          <label for="status" class="form-label">Status</label>
        </div>
        <div class="form-floating col-md-4">
          {{form.opp_type|add_class:"form-select"}}
          <label for="opp_type" class="form-label">Type</label>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="card mt-1">
  <div class="card-header">
    <h4 id="oppCount">{{page_obj.paginator.count}} Opportunities Found</h4>
    <a
      class="btn btn-lg btn-primary fab"
      href="{% url 'new_opportunity' %}"
    >
      <i class="fa fa-plus"></i>
  </a>
  </div>

  <!-- prettier-ignore -->
  <div class="card-body">
    <div id="opportunity-container" class="row">
    
      {% include "tracker/partials/opportunity_cards.html" %}
    
  </div>
</div>
  <div id="spinner" class="text-center text-primary htmx-indicator">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>


  {% endblock content %}
  {% block scripts %}
  <script>
    $(document).ready(function () {
      formatTimeStamp();
    });

    document.addEventListener("htmx:afterSwap", function (event) {
      formatTimeStamp();

      const hiddenField = document.querySelector("#opportunity-count");
      if (hiddenField) {
        const oppCount = hiddenField.value;
        if (oppCount) {
          document.querySelector(
            "#oppCount"
          ).textContent = `${oppCount} Opportunities Found`;
        }
      }
    });

    function formatTimeStamp() {
      // Setting date time to relative time
      $(".created_at").each(function () {
        const rawTimeStamp = $(this).data("timestamp"); // Get the data-timestamp value
        if (rawTimeStamp) {
          const formattedTime = moment(rawTimeStamp).fromNow();
          $(this).text(formattedTime);
        }
      });
    }

  </script>  
  {% endblock scripts %}
</div>
