@page {
  size: A4 portrait;
  margin: 10mm 10mm 20mm 10mm; /* top right bottom left */

  @bottom-left {
    content: "Printed on {{ printed_date }}";
    font-size: 10px;
    color: #555;
  }

  {% if footnote %}
    @bottom-center {
      content: "{{ footnote|escapejs }}";
      font-size: 10px;
      color: #000;
    }
  {% endif %}
  
  @bottom-right {
    content: "Page " counter(page) " of " counter(pages);
    font-size: 10px;
    color: #555;
  }
}
